@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@layer base{
  :root{
    font-family: "Darker Grotesque", sans-serif;
  }
  body{
    font-family: "Darker Grotesque", sans-serif;
  }
}